services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    # user: 1000:1000
    network_mode: host
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - ~/docker-configs/jellyfin:/config
      - ~/data/media:/data/media
    restart: unless-stopped

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Africa/Kigali
      - WEBUI_PORT=8080
    volumes:
      - ~/docker-configs/qbittorrent:/config
      - ~/data/downloads:/downloads
    ports:
      - 8080:8080
      - 6881:6881
      - 6881:6881/udp
    restart: unless-stopped

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Africa/Kigali
    volumes:
      - ~/docker-configs/prowlarr:/config
    ports:
      - 9696:9696
    restart: unless-stopped

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Africa/Kigali
    volumes:
      - ~/docker-configs/radarr:/config
      - ~/data/media/movies:/movies
      - ~/data/downloads:/downloads
    ports:
      - 7878:7878
    restart: unless-stopped

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Africa/Kigali
    volumes:
      - ~/docker-configs/sonarr:/config
      - ~/data/media/tv:/tv
      - ~/data/media/anime:/anime
      - ~/data/downloads:/downloads
    ports:
      - 8989:8989
    restart: unless-stopped
  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    environment:
      - LOG_LEVEL=debug
      - TZ=Africa/Kigali
    ports:
      - 5055:5055
    volumes:
      - ~/docker-configs/jellyseerr:/app/config
    restart: unless-stopped
  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      - LOG_LEVEL=info
      - TZ=Africa/Kigali
    ports:
      - 8191:8191
    restart: unless-stopped